section {
    display: flex;
}

span {
    color: orange;
}

.hireme {
    margin: 20%;


    width: 50px;
    color: aliceblue;



    background-image: linear-gradient(black, red);
    text-decoration: none
}

.mada {
    margin: 10%;



}

.nothing {
    display: flex;
}