section {
    display: flex;
}

span {
    color: orange;
}

.hireme {
    width: 400px;
    color: aliceblue;
    background-image: linear-gradient(black, red);
    text-decoration: none
}

.mada {
    margin: 10%;



}